:root {
    --color-accent: #2977FF;
    --color-neutural: #FFFFFF;
    --color-error: #B71C1C;
    --color-success: #18AC39;
    --color-text: #000000;
    --color-text-secondary: #616161;
    --color-border: #BEBEBE;
    --color-background: #ECEFF1;
}