@use "@/styles/util" as u;

.search {
  &__button  {
    border-left: u.rem(1) solid rgb(var(--color-border));
    color: rgb(var(--color-accent));

    &_reset {
      color: rgb(var(--color-text));
    }
  }

  &__suggestion {
    @include u.body2-text;
  }

  &__progress {
    margin-inline: auto
  }
}