@use "@/styles/util" as u;

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }  

  100% {
    transform: rotateZ(360deg);
  }  
}

.spinner {
  position: relative;
  display: block;
  border-radius: 50%;
  width: u.rem(32);
  height: u.rem(32);
  animation: infinite 2s spin linear;
}