@use "@/styles/util" as u;

.input {
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    
    &_border {
      border: u.rem(2) solid rgb(var(--color-border));
      border-radius: u.rem(8);
      overflow: hidden;
    }
  }

  &__field {
    width: 100%;
    height: u.rem(48);

    border: none;
    outline: none;
    border-radius: u.rem(8);
    background: rgb(var(--color-neutural));
    color: rgb(var(--color-text));

    padding: u.rem(12);
    @include u.body2-text;

    &::placeholder {
      color: rgb(var(--color-text-secondary));
    }
  }

  &__fieldset {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + u.rem(8));

    border-radius: u.rem(8);
    border: u.rem(2) solid rgb(var(--color-border));

    pointer-events: none;
  }

  &__legend, &__helper-text {
    @include u.body2-text;
    margin-left: u.rem(10); // .input__field padding - border width
    padding-inline: u.rem(2);
    line-height: 100%;

    color: rgb(var(--color-border-darker));
    font-size: u.rem(16);
  }

  &__helper-text {
    margin-top: u.rem(4);
    margin-left: u.rem(12);
  }

  &__content_leading {
    margin-left: u.rem(12);
    height: 100%;
  }

  &__content_trailing {
    margin-right: u.rem(12);
    height: 100%;
  }

  &_invalid {
    .input__inner_border {
      border: u.rem(3) solid rgb(var(--color-error-lighter));
    }

    .input__fieldset {
      border: u.rem(3) solid rgb(var(--color-error-lighter));
    }

    .input__legend, .input__helper-text {
      color: rgb(var(--color-error));
      font-weight: 500;
    }
  }
}