@use "@/styles/util" as u;

@keyframes label-shrink {
  to {
    top: u.rem(-8);
    transform: translateY(0);

    font-size: u.rem(16);
    visibility: hidden;
  }
}

@keyframes increase-width {
  99% {
    max-width: 100%;
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
    max-width: 100%;
    padding-inline: u.rem(2);
  }
}

.app-input {
  $parent: #{&};

  min-width: 25ch;
  display: flex;
  flex-direction: column;
  padding: 0;

  &__inner {
    position: relative;
    
  }

  &__wrapper {
    display: flex;
    overflow: hidden;
    border-radius: u.rem(8);
    padding-inline: u.rem(2);
    background: rgb(var(--color-neutural));
  }

  &__field {
    flex: 1 1 auto;

    padding: u.rem(16) u.rem(14);

    background: none;
    color: rgb(var(--color-text));
    
    outline: none;
    border: none;

    @include u.body2-text;
  }

  &__label {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    margin-left: u.rem(16);

    color: rgb(var(--color-text-secondary));

    @include u.body2-text;
    font-size: u.rem(20);
  }

  &__fieldset {
    min-width: 0;
    position: absolute;

    inset: u.rem(-8) 0 0;

    border-radius: u.rem(8);
    border: u.rem(2) solid rgb(var(--color-border));

    pointer-events: none;
    transition: border .1s ease-in-out;
  }

  &__legend {
    visibility: hidden;
    opacity: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;

    max-width: u.rem(0.01);
    width: auto;

    margin-left: u.rem(12);

    color: rgb(var(--color-text-secondary));

    @include u.body2-text;
    font-size: u.rem(16);
  }

  &__helper-text {
    max-width: 30ch;
    margin-inline: u.rem(16);

    color: rgb(var(--color-text-secondary));

    @include u.body2-text;
    font-size: u.rem(16);

    &:not(:empty) {
      margin-top: u.rem(8);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_no-label {
    #{$parent}__legend {
      padding: 0 !important;
    }
  }

  &_focused {
    #{$parent}__fieldset {
      border-width: u.rem(3);
      border-color: rgb(var(--color-accent));
    }

    #{$parent}__label {
      animation: label-shrink .15s ease-out forwards 1 !important;
    }

    #{$parent}__legend {
      animation: increase-width .15s ease-out forwards 1;
      color: rgb(var(--color-accent));
    }
  }

  &_active {
    #{$parent}__label {
      animation: label-shrink .15s ease-out forwards 1 !important;
    }

    #{$parent}__legend {
      animation: increase-width .15s ease-out forwards 1;
    }
  }

  &_error {
    #{$parent}__fieldset {
      border-color: rgb(var(--color-error));
    }

    #{$parent}__legend {
      color: rgb(var(--color-error));
    }

    #{$parent}__label {
      color: rgb(var(--color-error));
    }

    #{$parent}__helper-text {
      color: rgb(var(--color-error));
    }
  }  
}