@use "@/styles/util" as u;

.header {
  padding-block: u.rem(8);
  background: rgb(var(--color-neutural));

  &__top {
    display: flex;

    @include u.breakpoint-down(medium) {
      width: 100%;
    }
  }

  &__icon-btn {
    display: none;
    color: rgb(var(--color-text));

    @include u.breakpoint-down(medium) {
      display: block;
    }
  }

  &__inner, &__inner_open {
    display: flex;
    align-items: center;

    @include u.breakpoint-down(medium) {
      flex-direction: column;
    }
  }

  &__inner {
    @include u.breakpoint-down(medium) {
      & .nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-out;
      }
    }
  }

  &__inner_open {
    @include u.breakpoint-down(medium) {
      & .nav {
        overflow: hidden;
        max-height: u.rem(500);
        transition: max-height 0.35s ease-in;
      }
    }
  }

  &__login {
    @include u.breakpoint-down(medium) {
      display: none;
    }
  }

  &__search {
    margin-right: u.rem(24);

    @include u.breakpoint-down(medium) {
      display: none;
    }
  }
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  margin-right: u.rem(20);

  &__img {
    margin-right: u.rem(4);
  }

  &__text {
    @include u.h3-text;
  }

  @include u.breakpoint-down(medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav {
  grid-area: nav;
  margin-right: auto;

  &__list {
    display: flex;
    column-gap: u.rem(12);
    row-gap: u.rem(8);

    @include u.breakpoint-down(medium) {
      flex-direction: column;
      align-items: start;
      padding: u.rem(16);
    }
  }

  &__item {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: u.rem(3);
      left: 50%;
      transform: translateX(-50%);
      background: rgb(var(--color-accent));
      transition: width 0.1s ease-out;
    }

    &:hover::after {
      width: 80%;
    }
  }

  &__link {
    @include u.nav-text;
  }
}

