@use "functions" as f;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

@mixin button-text {
  font-family: $font-primary;
  font-weight: 400;
  font-size: f.rem(20);
  line-height: 150%;
}

// Text style for user generated content
@mixin body1-text {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: f.rem(20);
  line-height: 100%;
}

// Text style for plain text in layouts
@mixin body2-text {
  font-family: $font-primary;
  font-weight: 400;
  font-size: f.rem(18);
  line-height: 100%;
}

@mixin h1-text {
  font-family: $font-primary;
  font-weight: 700;
  font-size: f.rem(64);
  line-height: 100%;
}

@mixin h2-text {
  font-family: $font-primary;
  font-weight: 700;
  font-size: f.rem(48);
  line-height: 100%;
}

@mixin h3-text {
  font-family: $font-primary;
  font-weight: 700;
  font-size: f.rem(32);
  line-height: 100%;
}

@mixin h4-text {
  font-family: $font-primary;
  font-weight: 700;
  font-size: f.rem(24);
  line-height: 100%;
}

@mixin h5-text {
  font-family: $font-primary;
  font-weight: 600;
  font-size: f.rem(20);
  line-height: 100%;
}

@mixin h6-text {
  font-family: $font-primary;
  font-weight: 500;
  font-size: f.rem(18);
  line-height: 100%;
}

// Text style for navigation links
@mixin nav-text {
  font-family: $font-primary;
  font-weight: 500;
  font-size: f.rem(20);
  line-height: 150%;
} 